---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> alamein</span>IT Support
    </Fragment>

    <Fragment slot="subtitle">
      At Alamein IT Support, we are your trusted partner in the ever-evolving world of technology. 
      With a passion for innovation and a commitment to excellence, we empower businesses to thrive in the digital age.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Sites', amount: '3' },
      { title: 'Employees', amount: '248' },
      // { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Mission"
    subtitle="To safeguard your digital assets, enhance your site's resilience, and optimize your cloud services, ensuring you stay ahead of the curve in a rapidly changing landscape."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Expertise',
        description:
          'Our seasoned team of IT professionals brings years of experience and a deep understanding of cybersecurity, site resiliency, and cloud solutions to the table.',
        icon: 'tabler:template',
      },
      {
        title: 'Tailored Solutions',
        description:
          "We don't believe in one-size-fits-all. We work closely with each client to develop customized strategies that meet their unique needs.",
        icon: 'tabler:template',
      },
      {
        title: 'Site Reliability',
        description:
          'Your success is our priority. We provide round-the-clock support, ensuring your IT infrastructure is always in top form.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Comprehensive Managed Services',
        description:
          'AlameinIT Support offers end-to-end managed services, including 24/7 cybersecurity monitoring, cloud optimization, and proactive issue resolution.',
        icon: 'tabler:template',
      },
      {
        title: 'Robust Backup Solutions',
        description:
          'Safeguard your data with our reliable backup services, ensuring data integrity and availability in the face of unexpected events.',
        icon: 'tabler:template',
      },
      {
        title: 'Disaster Recovery Planning',
        description:
          'We create detailed disaster recovery plans to minimize downtime and ensure your business can quickly recover from disruptions.',
        icon: 'tabler:template',
      },
      {
        title: 'Hardware and Software Sales & Procurement',
        description:
          'Streamline your technology acquisitions with our hardware and software sales and procurement services, tailored to your specific needs and budget.',
        icon: 'tabler:template',
      },
      {
        title: 'Cyber Threat Detection',
        description:
          'Our advanced cyber threat detection tools and strategies keep your systems safe from evolving security threats.',
        icon: 'tabler:template',
      },
      {
        title: 'Incident Response',
        description:
          'In the event of a security breach or incident, trust our incident response team to swiftly address the issue and mitigate potential damage.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="At AlameinIT Support, we value Excellence, Integrity, Customer Focus, Innovation, Teamwork, Adaptability, Responsibility, and Learning. These principles drive us to deliver outstanding IT solutions, prioritize transparency, tailor our services to your needs, embrace technology, collaborate effectively, thrive in the face of challenges, care for our environment and community, and continually grow and share knowledge."
    items={[
      {
        title: 'Integrity',
        description:
          "We believe in transparency, honesty, and doing what's right."
      },
      {
        title: 'Customer Focus',
        description:
          'Your success is our priority; we tailor our services to your needs.',
      },
      {
        title: 'Adaptability',
        description:
          'We face challenges head-on and adapt to thrive.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={1}
    items={[
      {
        title: 'Australia',
        description: 'PO BOX 624, South Melbourne, Vic, 3205',
      }
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          "Connect with us via FaceTime, What'sApp, Teams or web chat.",
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Need immediate IT support? Call us now at 1300 123 456 to get expert remote assistance and resolve your tech issues today!',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
