---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Unlock Your Business Potential with AlameinIT: Get Started Today!"
    subtitle="Explore our meticulously crafted templates tailored to various industries and purposes. From captivating presentations to functional website designs, we offer the tools you need to succeed."
    actions={[{ variant:"primary", target: '_blank', text: 'Start exploring', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our diverse services"
    subtitle="Discover our selection below to streamline and elevate your projects."
    columns={3}
    items={[
      {
        title: 'Cybersecurity Solutions',
        description:
          'Proactive threat detection and prevention. Regular security assessments and vulnerability management. 24/7 monitoring and incident response.',
        icon: 'tabler:school',
      },
      {
        title: 'Network Management',
        description:
          'Reliable network infrastructure for seamless operations. Network performance optimization and troubleshooting. Scalable solutions to accommodate your growth',
        icon: 'tabler:home-star',
      },
      {
        title: 'Cloud Services Optimization',
        description: `Efficient cloud strategy development. Migration, setup, and management of cloud environments. Cost-effective cloud resource utilization.`,
        icon: 'tabler:photo',
      },
      {
        title: 'IT Support and Helpdesk',
        description:
          'Responsive technical support with rapid issue resolution.  Expert assistance for hardware and software troubleshooting. A dedicated helpdesk team available round-the-clock.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'Data Backup and Disaster Recovery',
        description:
          'Robust data backup solutions for data protection.  Disaster recovery planning and readiness assessments. Minimized downtime and rapid data recovery.',
        icon: 'tabler:article',
      },
      {
        title: 'Hardware and Software Procurement',
        description:
          'Strategic guidance on hardware and software acquisitions. Procurement of industry-leading technology solutions. Negotiations for favorable pricing and terms.',
        icon: 'tabler:building-store',
      },
      {
        title: 'Customized IT Strategies',
        description:
          'Tailored IT roadmaps aligned with your business objectives. Solutions customized to your unique industry and needs. A technology partner that understands your vision.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Remote Monitoring and Management',
        description: `Proactive monitoring for early issue detection. Remote management for efficient problem-solving. Minimal onsite visits, reducing disruption.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Regular Updates and Maintenance',
        description:
          'Timely software updates and patch management. Preventive maintenance to keep systems running smoothly. Regular performance assessments and optimization',
        icon: 'tabler:tie',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Cybersecurity Solutions',
        description:
          'Proactive threat detection and prevention. Regular security assessments and vulnerability management. 24/7 monitoring and incident response.',
        icon: 'tabler:wand',
      },
      {
        title: 'Network and Firewall Management',
        description:
          'Reliable network infrastructure for seamless operations. Network performance optimization and troubleshooting. Scalable solutions to accommodate your growth.',
        icon: 'tabler:settings',
      },
      {
        title: 'Cloud Services Optimization',
        description:
          'Efficient cloud strategy development. Migration, setup, and management of cloud environments. Cost-effective cloud resource utilization.',
        icon: 'tabler:presentation',
      },
      {
        title: 'IT Support and Helpdesk',
        description:
          'Responsive technical support with rapid issue resolution. Expert assistance for hardware and software troubleshooting. A dedicated helpdesk team available round-the-clock.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Comprehensive IT Solutions',
        description:
          'AlameinIT offers a holistic approach to IT, providing a wide range of services that cover cybersecurity, network management, cloud optimization, and more. ',
        icon: 'tabler:clock',
      },
      {
        title: 'Enhanced Cybersecurity',
        description:
          'In an era of increasing cyber threats, AlameinIT excels in safeguarding your digital assets. ',
        icon: 'tabler:school',
      },
      {
        title: 'Efficiency and Scalability',
        description:
          "AlameinIT's network management and cloud services optimization allow your business to operate efficiently and scale as needed.",
        icon: 'tabler:coin',
      },
      {
        title: 'Expert IT Support and Helpdesk',
        description:
          'AlameinIT provides responsive technical support with rapid issue resolution.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Start exploring',
      href: '/',
    }]}
    title="Dive into our template collection"
    subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />
</Layout>
